FLASK_APP_NAME="UVLHUB.IO"
FLASK_ENV=production
DOMAIN=localhost
MARIADB_HOSTNAME=db
MARIADB_PORT=3306
MARIADB_DATABASE=uvlhubdb
MARIADB_USER=uvlhubdb_test
MARIADB_PASSWORD=uvlhubdb_user
MARIADB_ROOT_PASSWORD=uvlhubdb_password
WEBHOOK_TOKEN=uvlhubdb_root_password
WORKING_DIR=/app/
